* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: radnika, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.box {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  padding: 20px 15px;
}
.img-area{
  position: relative;
  flex-basis: 70%;
  min-width: 330px;
  text-align: right;
}
form{
  position: relative;
  flex-basis: 30%;
  min-width: 330px;
  text-align: center;
}
.form{
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.input-field input {
  width: 70%;
  margin: 10px auto;
  padding: 8.5px 12px;
  outline: none;
  border: 1px solid #acacac;
  border-radius: 4px;
}
.input-field input:focus {
  border: 2px solid #a1a0a0;
}
input::placeholder{
  font-size: 12px;
}
.btn {
  margin-top: 10px;
}
.btn button {
  width: 70%;
  outline: none;
  border: none;
  padding: 8px 16px;
  color: #fff;
  background: #0151ff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
.btn button:hover {
  color: #fff;
  opacity: 0.8;
}
.or{
  margin: 20px auto;
  border-bottom: 1px solid #acacac;
  width: 70%;
}
.or::before{
  content: "OR";
  position: absolute;
  background: #fff;
  padding: 4px 8px;
  transform: translate(-19px , -9px);
}
.fb-link{
  margin-bottom: 15px;
  cursor: pointer;
}
.fb-link .fb{
  color: #0151ff;
  font-size: 1.5em;
}
.fb-link span{
  position: relative;
  color: #0151ff;
  font-size: 12px;
  margin-left: 10px;
}
.forget-password-field {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 18px 0;
  margin: 10px auto;
}
.forget-password-field p {
  color: #434343;
  font-size: 14px;
  padding-bottom: 10px;
}
form p a {
  font-size: 14px;
  color: #0151ff;
  text-decoration: none;
}
form p a:hover {
  color: rgb(3, 3, 8);
}
.get-app{
  margin: 15px auto;
}
.get-app img{
  margin-top: 10px;
  width: 135px;
}
@media (max-width:1176px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .box{
    margin: 40px 10px;
    text-align: center;
    width: 340px;
    padding: 10px;
  }
  .img-area{
    display: none;
  }
}
